body {
  background-color: black;
  color: white;
}
.navbar {
  background-color: black;
}
.navbar-nav .nav-link {
  color: white !important;
}
.navbar-nav .nav-link.active {
  color: #f8f9fa !important; 
}
.navbar-toggler {
  border-color: white;
}
.navbar-toggler-icon {
  background-color: white;
}
.btn-search {
  background-color: red;
  color: white;
  border: none;
}
.btn-search:hover {
  background-color: darkred;
}
.carousel-caption h5, .carousel-caption p {
  color: white;
}
.our-menu{
margin-top: 20px;
margin-bottom: 20px;
}
.old-price {
text-decoration: line-through;
color: gray; 
margin-right: 10px;
}

.new-price {
color: #FBB64C; 
font-weight: bold;
}
.buy-btn {
background-color: black;
width: 100%; 
text-align: center; 
padding: 10px; 
font-size: 16px; 
}
.card-img-container {
position: relative; 
}

.card-img-top {
width: 100%; 
height: auto; 
}

.sale-tag {
position: absolute;
text-align: center;
width: 35%;
top: 0px; 
left: 0px; 
background-color: yellow; 
color: black; 
padding: 5px 10px; 
font-weight: bold; 
border-radius: 3px; 
z-index: 10; 

}
.textarea-custom {
  width: 100%;
  min-width: 600px;

}